<h1>Formulario</h1>

<form action="../productos" method="post">
    <input type="text" name="nombre" placeholder="nombre">
    <br>
    <input type="text" name="precio" placeholder="precio">
    <br>
    <input type="text" name="urlFoto" placeholder="urlFoto">
    <br>
    <input type="submit" value="Guardar">
</form>

<a href="../productos">
    <input type="button" value="Ver Productos">
</a>