     <div class="divFormulario">
        <div class="formulario">
            <h2 class="formulario__titulo">CENTRO DE MENSAJES</h2>
            <form onsubmit="return addMensaje(this)">
              
                <input class="form-control" type="email" id="nombre2" name="title2" placeholder="Ingrese Email" required="required">
                <br>
                <input class="form-control" type="text" id="precio2" name="price2" placeholder="Ingrese su consulta" required="required">
                <br>
                <input type="submit" class="btn btn-outline-success" value="Enviar!">
            </form>
        </div>
    </div> 
    