<section>
    <h2>Formulario</h2>
    <form action="productos" method="post" >
        <input type="text" name="title" required="required" placeholder="title">
        <br>
        <input type="text" name="thumbnail" required="required" placeholder="thumbnail">
        <br>
        <input type="number" name="price" required="required" placeholder="price">
        <br>
        <input type="submit" value="Enviar">
    </form>
    <!-- lista  de productos -->
    
</section>