form(action='/api/productos', method='POST')
      p
        | title: 
        input(name='title', value='', type='text')
        |          thumbnail: 
        input(name='thumbnail', value='', type='text')
        |          price: 
        input(name='price', value='', type='number')
      input(value='Submit', type='submit')