.midlaner {
   
    
    border-radius: 4px;
    padding: 5px;
}
img{
    height: 10rem;
width: 10rem;
}
.toplaner {

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    color: blue;
}

ul {
    width: 35rem;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    
}
.color{
    color: red;
}

.formulario{
    
    background: rgb(11,5,31);
    background: linear-gradient(0deg, rgba(11,5,31,1) 0%, rgba(90,164,238,1) 100%);
align-items: center;
margin: 20px;
padding: 20px;
width: 60rem;



}

.divFormulario{
    display: flex;
    justify-content: center;
}
.formulario__titulo{
    color: white;
   
}
.nombre{
    color: blue;
}
.hora{
    color: brown;
}
.mensaje{
    color: green;
}